= render partial: 'shared/header'

.login_wrapper
  .login_container
    .login_icon
      = fa_icon "edit"
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Current Email"
      .field
        = f.password_field :password, autocomplete: "new-password",placeholder: " New Email"
      .field
        = f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "New Password"
      .field
        = f.password_field :current_password, autocomplete: "current-password",placeholder: "Current Password"
      .actions
        = f.submit "Update"
    .cancel_my_account
      #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete}

= render partial: 'shared/footer'