= render partial: 'shared/header'
.login_wrapper
  .login_container
    .login_icon
      = fa_icon "sign-in"
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      -# ログイン時のエラー文
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.text_field :name,placeholder: "名前" 
      .field
        = f.email_field :email, placeholder: "Eメール"
      .field
        = f.password_field :password, placeholder: "パスワード（６字以上）"
      .field
        = f.password_field :password_confirmation, placeholder: "パスワード（確認）"
      .actions
        = f.submit "アカウント登録"
      = render "devise/shared/links"
= render partial: 'shared/footer'