= render partial: 'shared/header'

.login_wrapper
  .login_container
    - if @user.email == "guest@example.com"
      .no_change_profile ※ ゲストのプロフィールは変更できません。
    #image_preview
      .image_custom
        = image_tag @user.profile_image,class: "profile_image_pre"
    = form_with model: @user, local: true do |f|
      .field
        %label(for="in_image")
          プロフィール画像を設定する
          = f.file_field :profile_image,class: "image_file hidden",id: "in_image"
      .field
        = f.text_area :profile,placeholder: " Profile"
      .actions
        = f.submit "更新する"


= render partial: 'shared/footer'