= render 'shared/header'

= render partial: "shared/show_user",locals: {user: @user}

.wrapper
  .profile_wrapper
    .post_tags
      = link_to "#{@user.name}さんのお気に入り",user_path(@user),class: "post_tag"
      = link_to "Pickしたお気に入り",show_pick_user_path(@user),class: "post_tag"
    .mypage_container
    - if @user.pick_posts.present?
      .posts_title Picks
      = render partial: "shared/index",locals: { posts: @user.pick_posts}
    - else
      .none_message まだPickした投稿はありません。

= render 'shared/footer'