= render 'shared/header'

.profile_top
  .profile_container
    = image_tag @user.profile_image,class: "user_profile_image"
    .profile_main
      .profile_name_edit
        .user_name= @user.name
        - if user_signed_in?
          - if current_user == @user
            .user_edits
              = link_to '設定',edit_user_registration_path,class: "user_edit"
              = link_to 'プロフィール編集',edit_user_path(current_user),class: "user_edit"
          - if current_user != @user
            - if @user.followed_by?(current_user)
              = link_to "フォロー中",user_relationships_path(@user.id),method: :delete,class: "followed_btn"
            - else  
              = link_to "フォローする",user_relationships_path(@user.id),method: :create,class: "follow_btn"
      .user_profile
        = @user.profile
      .user_follows
        .user_follow
          = link_to follows_user_path(@user) do
            = @user.followings.count
            %span フォロー中
        .user_follow
          = link_to followers_user_path(@user) do
            = @user.followers.count
            %span フォロワー


.wrapper
  .profile_wrapper
    .post_tags
      %p.post_tag#post_tab #{@user.name}したお気に入り
      %p.post_tag#pick_tab Pickしたお気に入り
    
    .mypage_container.active
      - unless @posts_c.blank? || @posts_b.blank? || @posts_g.blank?
        -# 服一覧
        - unless @posts_c.blank?
          .posts_title Clothes
          = render partial: "shared/index",locals: { posts: @posts_c}
        
        -# 本一覧
        - unless @posts_b.blank?
          .posts_title Books
          = render partial: "shared/index",locals: { posts: @posts_b}

        -# 雑貨一覧
        - unless @posts_g.blank?
          .posts_title Goods
          = render partial: "shared/index",locals: { posts: @posts_g}
      - else
        .none_message まだ投稿したお気に入りはありません。
    
    -# ピックアップ一覧
    .mypage_container.inactive
      - unless @posts_pick.blank?
        .posts_title Picks
        = render partial: "shared/index",locals: { posts: @posts_pick}
      - else
        .none_message まだPickした投稿はありません。

= render'shared/footer'