= render 'shared/header'

.profile_top
  .profile_container
    - if @user.profile_image.attached?
      = image_tag @user.profile_image,class: "user_profile_image"
    .profile_main
      .profile_name_edit
        .user_name= @user.name
        - if current_user == @user
          .user_edits
            = link_to '設定',edit_user_registration_path,class: "user_edit"
            = link_to 'プロフィール編集',edit_user_path(current_user),class: "user_edit"
        - if current_user != @user
          - if @user.followed_by?(current_user)
            = link_to "フォロー中",user_relationships_path(@user.id),method: :delete,class: "follow_btn"
          - else  
            = link_to "フォローする",user_relationships_path(@user.id),method: :create,class: "follow_btn"
      .user_profile
        = @user.profile
      .user_follows
        .user_follow
          = link_to follows_user_path(@user) do
            = @user.followings.count
            %span フォロー中
        .user_follow
          = link_to followers_user_path(@user) do
            = @user.followers.count
            %span フォロワー
.wrapper
  .profile_wrapper
    .post_tags
      = link_to "Mybest",user_path(@user),class: "post_tag_mybest"
      = link_to "Pick",show_pick_user_path(@user),class: "post_tag_pick"
    .mypage_container
    - if @user.pick_post_cs.present? || @user.pick_post_bs.present? || @user.pick_post_gs.present?
      -# 服一覧
      .posts_title Clothes
      - if @user.pick_post_cs.present?
        = render partial: "shared/index",locals: { posts: @user.pick_post_cs}
      
      -# 本一覧
      .posts_title Books
      - if @user.pick_post_bs.present?
        = render partial: "shared/index",locals: { posts: @user.pick_post_bs}

      -# 雑貨一覧
      .posts_title Goods
      - if @user.pick_post_gs.present?
        = render partial: "shared/index",locals: { posts: @user.pick_post_gs}
    - else
      .none_message まだPickした投稿はありません。

= render partial: 'shared/footer'