= render 'shared/header'

= render partial: "shared/show_user",locals: {user: @user}

.wrapper
  .profile_wrapper
    .post_tags
      = link_to "Mybest",user_path(@user),class: "post_tag"
      = link_to "Pick",show_pick_user_path(@user),class: "post_tag"
    .mypage_container
    - if @user.pick_post_cs.present? || @user.pick_post_bs.present? || @user.pick_post_gs.present?
      -# 服一覧
      - if @user.pick_post_cs.present?
        .posts_title Clothes
        = render partial: "shared/index",locals: { posts: @user.pick_post_cs}
      
      -# 本一覧
      - if @user.pick_post_bs.present?
        .posts_title Books
        = render partial: "shared/index",locals: { posts: @user.pick_post_bs}

      -# 雑貨一覧
      - if @user.pick_post_gs.present?
        .posts_title Goods
        = render partial: "shared/index",locals: { posts: @user.pick_post_gs}
    - else
      .none_message まだPickした投稿はありません。

= render 'shared/footer'