= render 'shared/header'
.profile_wrapper
  .profile_container
    .profile_image
      - if @user.profile_image.attached?
        = image_tag @user.profile_image.variant(resize: "200x200")
    .profile_main
      .profile_top
        .user_name
          = @user.name
        .edit
          = link_to '編集',edit_user_registration_path
      .user_profile
        = @user.profile
      .user_follow
        .user_following フォロー人数
        .user_followers フォローされた人数
.user_tabs
.profile_botomm
  - if @user.post_cs
    - @user.post_cs .each do |post|
      = post.title
      = image_tag post.image.variant(resize: "200x200")
