= render 'shared/header'

= render partial: "shared/show_user",locals: {user: @user}

.wrapper
  .profile_wrapper
    .post_tags
      = link_to "あなたのお気に入り",user_path(@user),class: "post_tag"
      = link_to "Pickしたお気に入り",show_pick_user_path(@user),class: "post_tag"
    .mypage_container
    - if @user.pick_clothes.present? || @user.pick_books.present? || @user.pick_goods.present?
      -# 服一覧
      - if @user.pick_clothes.present?
        .posts_title Clothes
        = render partial: "shared/index",locals: { posts: @user.pick_clothes}
      
      -# 本一覧
      - if @user.pick_books.present?
        .posts_title Books
        = render partial: "shared/index",locals: { posts: @user.pick_books}

      -# 雑貨一覧
      - if @user.pick_goods.present?
        .posts_title Goods
        = render partial: "shared/index",locals: { posts: @user.pick_goods}
    - else
      .none_message まだPickした投稿はありません。

= render 'shared/footer'