= render 'shared/header'

= render partial: "shared/show_user",locals: {user: @user}

.wrapper
  .profile_wrapper
    .post_tags
      %p.post_tag#post_tab #{@user.name}したお気に入り
      %p.post_tag#pick_tab Pickしたお気に入り
    
    .mypage_container.active
      - unless @posts_c.blank? || @posts_b.blank? || @posts_g.blank?
        -# 服一覧
        - unless @posts_c.blank?
          .posts_title Clothes
          = render partial: "shared/index",locals: { posts: @posts_c}
        
        -# 本一覧
        - unless @posts_b.blank?
          .posts_title Books
          = render partial: "shared/index",locals: { posts: @posts_b}

        -# 雑貨一覧
        - unless @posts_g.blank?
          .posts_title Goods
          = render partial: "shared/index",locals: { posts: @posts_g}
      - else
        .none_message まだ投稿したお気に入りはありません。
    
    -# ピックアップ一覧
    .mypage_container.inactive
      - unless @user.pick_posts.blank?
        .posts_title Picks
        = render partial: "shared/index",locals: { posts: @user.pick_posts}
      - else
        .none_message まだPickした投稿はありません。

= render'shared/footer'