= render 'shared/header'

= render partial: "shared/show_user",locals: {user: @user}

.wrapper
  .profile_wrapper
    .post_tags
      = link_to "あなたのお気に入り",user_path(@user),class: "post_tag"
      = link_to "Pickしたお気に入り",show_pick_user_path(@user),class: "post_tag"
    .mypage_container
    - if @user.post_cs.present? || @user.post_bs.present? || @user.post_gs.present?
      -# 服一覧
      - if @user.post_cs.present?
        .posts_title Clothes
        = render partial: "shared/index",locals: { posts: @user.post_cs}
      
      -# 本一覧
      - if @user.post_bs.present?
        .posts_title Books
        = render partial: "shared/index",locals: { posts: @user.post_bs}

      -# 雑貨一覧
      - if @user.post_gs.present?
        .posts_title Goods
        = render partial: "shared/index",locals: { posts: @user.post_gs}
    - else
      .none_message まだ投稿したお気に入りはありません。

= render'shared/footer'