= render 'shared/header'

.profile_top
  .profile_container
    .profile_image
      - if @user.profile_image.attached?
        = image_tag @user.profile_image
    .profile_main
      .profile_name_edit
        .user_name
          = @user.name
        .edit
          = link_to '設定',edit_user_registration_path
          = link_to 'Profile編集',edit_user_path(current_user)
      .user_profile
        = @user.profile
      .user_follow
        .user_following フォロー人数
        .user_followers フォローされた人数
        - if current_user != @user
          - if @user.followed_by?(current_user)
            = link_to "フォロー済み",user_relationships_path(@user.id),method: :delete
          - else  
            = link_to "フォローする",user_relationships_path(@user.id),method: :create
.wrapper
  .container_wrapper
    .tags
      .new_tags new_tag
      .pickup_tags pickup_tag
    .container
      .index_wrapper
        .index_container
          .posts_title Clothes
          .clothes_index
            .posts_index
              - if @user.post_cs
                - @user.post_cs .each do |post|
                  .post_item_list
                    .post_image
                      = link_to image_tag(post.image),post_c_path(post)
                    .post_main 
                      .post_title
                        = post.title
                      .post_favorite ♡10
                      .post_info
                        .post_date 1日前
= render partial: 'shared/footer'