.comment_container
  - if comments.present?
    .comment_box_bundle
      - comments.reverse_each do | comment |
        .comment_box
          = link_to image_tag(comment.user.profile_image),user_path(comment.user),class: "comment_box_avatar"
          .comment_box_main
            .comment_box_header
              .comment_box_user=comment.user.name
              %time.comment_box_date(datetime="#{comment.created_at}")= "#{time_ago_in_words(comment.created_at)}前"
              - if current_user == comment.user
                - if comment.class.name == "PostC"
                  = link_to "削除する", post_c_comment_cs_path(comment.id),method: :delete,class: "comment_destroy"
                - if comment.class.name == "PostB"
                  = link_to "削除する", post_b_comment_bs_path(comment.id),method: :delete,class: "comment_destroy"
                - if comment.class.name == "PostG"
                  = link_to "削除する", post_g_comment_gs_path(comment.id),method: :delete,class: "comment_destroy"
            .comment_box_body
              %p=comment.text
  - if user_signed_in?
    = form_with model: [post, comment],method: :post, local: true,class: "comment_form" do | f |
      = f.text_area :text,placeholder: "テキストを入力"
      = f.submit "投稿する",class: "comment_btn"