.wrapper
  .wrapper_inner
    .follow_title 
      #{user.name}さんのフォローページ
    .follow_tabs
      -if current_page?(follows_user_path)
        = link_to "フォロー中",follows_user_path(user),class: "follow_tab1"
        = link_to "フォロワー",followers_user_path(user),class: "follower_tab1"
      - else  
        = link_to "フォロー中",follows_user_path(user),class: "follow_tab2"
        = link_to "フォロワー",followers_user_path(user),class: "follower_tab2"
    .follow_lists
      - unless users.blank?
        - users.each do |user|
          .user_box
            .user_box_content
              = link_to user_path(user) do
                = image_tag (user.profile_image),class: "user_box_content_image"
              .user_box_content_text
                .user_box_name
                  = user.name
                .user_box_profile
                  = user.profile
              - unless current_user == user
                - if user.followed_by?(current_user)
                  = link_to user_relationships_path(user),method: :delete,class: "user_box_content_followed" do
                    = fa_icon "user-plus"
                    %span フォロー中
                - else
                  = link_to user_relationships_path(user),method: :post,class: "user_box_content_following" do
                    = fa_icon "user-plus"
                    %span フォロー
      - else
        .user_box フォローユーザーはいません。