.form_left
  = render "shared/error_messages",model: f.object
  .filed
    .filed_name 名前は？
    = f.text_field :title,autofocus: true, placeholder: "タイトル、商品名など"
  .field
    .file_form
      .filed_name どんな見た目？
      %label(for="post_image")
        ファイルを選択
        = f.file_field :image,id: "post_image",class: "hidden"
    #image_preview
      .post_image_custom
        - if post.image.present?
          = image_tag post.image,class: "post_image_pre"
        - else
          = image_tag "/image/no_image.png",class: "post_image_pre"           
    
  .filed
    .filed_name どこのブランド？
    = f.text_field :brand, placeholder: "例：UNIQLO"
  .filed
    .filed_name どこで出会った？
    = f.text_field :place, placeholder: "例：UNIQLO渋谷店"
.form_right
  .filed
    .filed_name 出会うまでのストーリーは？
    = f.text_area :story,placeholder:"30〜200文字で入力"
  .filed
    .filed_name お気に入りのポイントは？
    = f.text_area :evidence,placeholder:"30〜200文字で入力"
  .filed
    .filed_name タグ
    = f.text_field :tag_list,value: f.object.tag_list.join(','), placeholder: "”,”で区切って入力"
  .actions
    = f.submit "お気に入りをキロクする"