%header
  .header_wrapper
    .header_left
      = link_to posts_path,class: "header-left" do
        = image_tag "login_page.png",class: "logo_image"
        Mybest
    .header-right
      - if user_signed_in?
        .nav_icon  
          =link_to "#" do
            = fa_icon "bell"
        .nav_icon
          = fa_icon "edit",id: "edit_list"
          .pulldown_lists#pulldown_edit
            = link_to "服をキロクする", new_post_c_path,class: "pulldown_list" 
            = link_to "本をキロクする", new_post_b_path,class: "pulldown_list" 
            = link_to "雑貨をキロクする", new_post_g_path,class: "pulldown_list" 
        .nav_icon
          = image_tag (current_user.profile_image),id: "image_list"
          .pulldown_lists#pulldown_image
            = link_to "マイページ",user_path(current_user),class: "pulldown_list" 
            = link_to "サインアウト", destroy_user_session_path, method: "delete",class: "pulldown_list" 
            
      - else   
        .login_icon
          = link_to "ログイン", new_user_session_path
        .signup_icon
          = link_to "新規登録", new_user_registration_path