%header
  .header_wrapper
    .header_left
      = link_to "Mybest", root_path,class: "header-left"
    .header-right
      - if user_signed_in?
        .fa_icon
          =link_to "#" do
            = fa_icon "search"
          =link_to "#" do
            = fa_icon "bell"
        .header_icon
          = link_to image_tag(current_user.profile_image), user_path(current_user)
        .signout_icon
          = link_to "signout", destroy_user_session_path, method: "delete"
        .fa_icon
          = link_to "#" do
            =fa_icon "edit"
        .post_icon
          = link_to "C投稿する", new_post_c_path
        .post_icon
          = link_to "G投稿する", new_post_g_path
        .post_icon
          = link_to "B投稿する", new_post_b_path
      - else   
        .login_icon
          = link_to "Login", new_user_session_path
        .signup_icon
          = link_to "Singup", new_user_registration_path