.posts_index
  - if posts
    - posts .each do |post|
    
      -# 服一覧
      - if post.class.name == "PostC"
        .post_item_list
          = link_to image_tag(post.image),post_c_path(post),class: "post_image"
          .post_main 
            .post_title
              = post.title

            -# 投稿内いいね機能
            = render partial: "shared/like",locals: {post: post}

            .post_info
              .post_user
                .user_avatar
                  = link_to image_tag(post.user.profile_image),user_path(post.user)
                .post_user_name 
                  = post.user.name
              .post_date
                %time(datetime="#{post.created_at}")= "#{time_ago_in_words(post.created_at)}前"
        
      -# 本一覧
      - if post.class.name == "PostB"
        .post_item_list
          = link_to image_tag(post.image),post_b_path(post),class: "post_image"
          .post_main 
            .post_title
              = post.title

            -# 投稿内いいね機能
            = render partial: "shared/like",locals: {post: post}

            .post_info
              .post_user
                .user_avatar
                  = link_to image_tag(post.user.profile_image),user_path(post.user)
                .post_user_name 
                  = post.user.name
              .post_date
                %time(datetime="#{post.created_at}")= "#{time_ago_in_words(post.created_at)}前" 

      -# 雑貨一覧
      - if post.class.name == "PostG"
        .post_item_list
          = link_to image_tag(post.image),post_g_path(post),class: "post_image" 
          .post_main 
            .post_title
              = post.title

            -# 投稿内いいね機能
            = render partial: "shared/like",locals: {post: post}
            
            .post_info
              .post_user
                .user_avatar
                  = link_to image_tag(post.user.profile_image),user_path(post.user)
                .post_user_name 
                  = post.user.name
              .post_date
                %time(datetime="#{post.created_at}")= "#{time_ago_in_words(post.created_at)}前"