-# 衣類の投稿に対しての「いいね」
- if post.class.name == "PostC"
  - if user_signed_in?
    - if post.liked_by?(current_user)
      = link_to post_c_like_cs_path(post.id),method: :delete do
        %span= fa_icon "thumbs-up alredy_icon"
        = post.like_cs.count 
    - else
      = link_to post_c_like_cs_path(post.id),method: :post do
        %span= fa_icon "thumbs-up yet_icon"
        = post.like_cs.count
  - else
    %span= fa_icon "thumbs-up"
    = post.like_cs.count

-# 本の投稿に対しての「いいね」
- if post.class.name == "PostB"
  - if user_signed_in?
    - if post.liked_by?(current_user)
      %div{id: "likes_button_#{post.id}"}
        = link_to post_b_like_bs_path(post.id),method: :delete do
          %span= fa_icon "thumbs-up alredy_icon"
          = post.like_bs.count 
    - else
      %div{id: "likes_button_#{post.id}"}
        = link_to post_b_like_bs_path(post.id),method: :post,remote: true do
          %span= fa_icon "thumbs-up yet_icon"
          = post.like_bs.count
  - else
    %span= fa_icon "thumbs-up"
    = post.like_bs.count

-# 雑貨の投稿に対しての「いいね」
- if post.class.name == "PostG"
  - if user_signed_in?
    - if post.liked_by?(current_user)
      = link_to post_g_like_gs_path(post.id),method: :delete do
        %span= fa_icon "thumbs-up alredy_icon"
        = post.like_gs.count 
    - else
      = link_to post_g_like_gs_path(post.id),method: :post do
        %span= fa_icon "thumbs-up yet_icon"
        = post.like_gs.count
  - else
    %span= fa_icon "thumbs-up"
    = post.like_gs.count