= render 'shared/header'

.wrapper
  .wrapper_inner
    .top_container
      .top_container_title
        = post.title
      .top_container_info
        %time="投稿日時：#{l post.created_at}"
        .post_user
          = link_to image_tag(post.user.profile_image),user_path(post.user),class: "user_image"
          .user_name
            = post.user.name
    .midle_container
      .post_image
        = image_tag post.image
    .bottom_wrapper 
      .bottom_container

        = render partial: "shared/like",locals: {post: post}
        = render partial: "shared/pick",locals: {post: post}

        .post_place_brand
          .form_title
            = fa_icon "angle-right"
            出会った場所
          .form_content
            = post.place
        .post_place_brand
          - if post.class.name == ("PostC" || "PostG")
            .form_title
              = fa_icon "angle-right"
              ブランド
          - else
            .form_title
              = fa_icon "angle-right"
              著者
          .form_content
            = post.brand
        .post_story_evidence
          .form_title
            = fa_icon "angle-right"
            出会いのストーリ−
          .form_text
            = post.story
        .post_story_evidence
          .form_title
            = fa_icon "star"
            お気に入りのポイント
          .form_text
            = post.evidence

        = render partial: "shared/comment",locals: {post: post,comment: comment,comments: comments}
        
        = link_to "この人のマイページに行く",user_path(post.user),class: "bottom_nav"
        - if current_user == post.user
          - if post.class.name == "PostC"
            = link_to "お気に入りを編集する",edit_post_c_path(post.id),class: "bottom_nav"
            = link_to 'お気に入りを削除する',post_c_path(post),method: :delete,data: { confirm: "本当に削除しますか？"},class: "bottom_nav"

          - if post.class.name == "PostB"
            = link_to "お気に入りを編集する",edit_post_b_path(post.id),class: "bottom_nav"
            = link_to 'お気に入りを削除する',post_b_path(post),method: :delete,data: { confirm: "本当に削除しますか？"},class: "bottom_nav"

          - if post.class.name == "PostG"
            = link_to "お気に入りを編集する",edit_post_g_path(post.id),class: "bottom_nav"
            = link_to 'お気に入りを削除する',post_g_path(post),method: :delete,data: { confirm: "本当に削除しますか？"},class: "bottom_nav"


= render partial: 'shared/footer'