= render partial: 'shared/header'

.wrapper
  .mid_wrapper
    .container
      -# サーチボックス
      = render partial: "shared/tags",locals: {tags: @tags}
          
      .main_container
        -# 服一覧
        .posts_title Clothes
        = render partial: "shared/index",locals: { posts: @posts}
        = paginate @posts

= render partial: 'shared/footer'