= render partial: 'shared/header'

.wrapper
  .mid_wrapper
    .container
      .search_wrapper
        .search_container
          .search_tabs
            = link_to "トレンド一覧表示",trend_index_posts_path,class: "search_tab"
            = link_to "新着一覧表示",root_path,class: "search_tab"
          .search_bar
            - if @tags.present?
              - @tags.each do |tag|
                = link_to "#{tag.name}(#{tag.taggings_count})",tags_path(tag: tag.name)
            - else
              %p 登録されているタグはありません
          .search_tags
      .main_container
        .clothes_index
          - if @posts.present?
            - @posts.each do |post|
              .posts_title #{@tag}に関する投稿
              .posts_index
                .post_item_list
                  .post_image
                    = link_to image_tag(post.image),post_b_path(post)
                  .post_main 
                    .post_title
                      = post.title
                    - if user_signed_in?
                      - if post.liked_by?(current_user)
                        = link_to post_b_like_b_path(post.id),method: :delete do
                          %span= fa_icon "thumbs-up alredy_icon"
                          = post.like_cs.count 
                      - else
                        = link_to post_b_like_b_path(post.id),method: :post do
                          %span= fa_icon "thumbs-up yet_icon"
                          = post.like_bs.count
                    - else
                      %p
                        %span= fa_icon "thumbs-up"
                        = post.like_bs.count
                    .post_info
                      .post_user
                        .user_avatar
                          = link_to image_tag(post.user.profile_image),user_path(post.user)
                        .post_user_name 
                          = post.user.name
                      .post_date 1日前




= render partial: 'shared/footer'