= render 'shared/header'

.post_show_wrapper
  .post_show_container
    .top_container
      .post_title
        = @post_g.title
      .post_user
        .user_name
          = @post_g.user.name
        = link_to image_tag(@post_g.user.profile_image),user_path(@post_g.user),class: "user_image"
    .midle_container
      .post_image
        = image_tag @post_g.image
    .bottom_container
      .bottom_wrapper 
        .post_place
          .form_title
            = fa_icon "globe"
            出会った場所
          .form_content
            = @post_g.place
        .post_brand
          .form_title
            = fa_icon "bookmark"
            ブランド
          .form_content
            = @post_g.brand
        .post_story
          .form_title
            = fa_icon "map"
            出会いのストーリ−
          .form_text
            = @post_g.story
        .post_evidence
          .form_title
            = fa_icon "star"
            お気に入りのポイント
          .form_text
            = @post_g.evidence
        .top_return
          この人のマイページに行く
        - if current_user
          .post_edit
            = link_to "お気に入りを編集する",edit_post_g_path(@post_g.id)
          .post_destroy
            = link_to 'お気に入りを削除する',post_g_path(@post_g),method: :delete,data: { confirm: "本当に削除しますか？"}


= render partial: 'shared/footer'