= render partial: 'shared/header'

.wrapper
  .mid_wrapper
    .container
      -# サーチボックス
      = render partial: "shared/tags",locals: {tag_cs: @tags_c,tag_bs: @tags_b,tag_gs: @tags_g}
          
      .main_container
        -# 雑貨一覧
        .posts_title Goods
        = render partial: "shared/index",locals: { posts: @posts}
        = paginate @posts

= render partial: 'shared/footer'