= render 'shared/header'

.wrapper
  .new_form
    .new_messages
      -# 雑貨の投稿は３まで
      - if current_user.goods.size < 3
        .message あなたのお気に入りをキロクしよう
        .message
          雑貨はあと
          %span= 3 - current_user.goods.size
          つ登録できます
      - else 
        .message
          上限に達しました。
        .message
          本当にキロクしますか？

    - if current_user.goods.size < 3
      = form_with model: @post, method: :post,local: true do |f|
        = render partial: "shared/form",locals:{f: f, post: @post} 
    - else
      = form_with model: @post, method: :post,data: { confirm: "本当にキロクしますか？  登録数の上限は3個までです。" },local: true do |f|
        = render partial: "shared/form",locals:{f: f, post: @post} 

= render partial: 'shared/footer'