= render partial: 'shared/header'

.wrapper
  .mid_wrapper
    .container
      .search_wrapper
        .search_container
          .search_tab
            .search_trending trending
            .search_new new
          .search_bar #####
          .search_tags
      .main_wrapper
        .main_container
          .posts_title Clothes
          .clothes_index
            .posts_index
              - if @post_cs
                - @post_cs .each do |post|
                  .post_item_list
                    .post_image
                      = link_to image_tag(post.image),post_c_path(post)
                    .post_main 
                      .post_title
                        = post.title
                      - if user_signed_in?
                        - if post.liked_by?(current_user)
                          %p
                            %span いいね解除
                            = link_to post.like_cs.count,post_c_like_c_path(post.id),method: :delete
                        - else
                          %p
                            %span いいね登録
                            = link_to post.like_cs.count,post_c_like_c_path(post.id),method: :post
                      - else
                        %p
                          %span いいね数
                          = post.like_cs.count
                      .post_info
                        .post_user
                          .user_avatar
                            = link_to image_tag(post.user.profile_image),user_path(post.user)
                          .post_user_name 
                            = post.user.name
                        .post_date 1日前
          .posts_title Books 
          .clothes_index
            .posts_index
              - if @post_bs
                - @post_bs .each do |post|
                  .post_item_list
                    .post_image
                      = link_to image_tag(post.image),post_b_path(post)
                    .post_main 
                      .post_title
                        = post.title
                      .post_favorite ♡10
                      .post_info
                        .post_user
                          .user_avatar
                            = link_to image_tag(post.user.profile_image),user_path(post.user)
                          .post_user_name 
                            = post.user.name
                        .post_date 1日前
          .posts_title Goods 
          .clothes_index
            .posts_index
              - if @post_gs
                - @post_gs .each do |post|
                  .post_item_list
                    .post_image
                      = link_to image_tag(post.image),post_b_path(post)
                    .post_main 
                      .post_title
                        = post.title
                      .post_favorite ♡10
                      .post_info
                        .post_user
                          .user_avatar
                            = link_to image_tag(post.user.profile_image),user_path(post.user)
                          .post_user_name 
                            = post.user.name
                        .post_date 1日前

= render partial: 'shared/footer'