= render partial: 'shared/header'

.wrapper
  .mid_wrapper
    .container
      .search_wrapper
        .search_container
          = render partial: "shared/tags",locals: {tag_cs: @tag_cs,tag_bs: @tag_bs,tag_gs: @tag_gs}
      .main_container
        -# 服一覧
        .posts_title Clothes
        = render partial: "shared/index",locals: { posts: @post_cs}
        = paginate @post_cs
        
        -# 本一覧
        .posts_title Books
        = render partial: "shared/index",locals: { posts: @post_bs}
        = paginate @post_bs

        -# 雑貨一覧
        .posts_title Goods
        = render partial: "shared/index",locals: { posts: @post_gs}
        = paginate @post_gs

= render partial: 'shared/footer'