= render partial: 'shared/header'

.wrapper
  .mid_wrapper
    .container
      -# サーチボックス
      = render partial: "shared/tags",locals: {tags: @tags}

      .main_container
        .posts_title #{@tag}に関する投稿
        = render partial: "shared/index",locals: {posts: @posts}

= render partial: 'shared/footer'