= render 'shared/header'

.new_wrapper
  .new_form
    .new_messages
      - if current_user.post_bs.size < 3
        .message1 あなたのお気に入りをキロクしよう
        .message2
          = "本はあと#{3 - current_user.post_bs.size}つ登録できます"
      - else 
        .message1
          上限に達しました。
        .message2
          本当にキロクしますか？
    - if current_user.post_bs.size < 3
      = form_with model: @post,url: post_b_index_path, method: :post,local: true do |f|
        = render partial: "shared/form",locals:{f: f} 
    - else
      = form_with model: @post,url: post_b_index_path, method: :post,data: { confirm: "本当にキロクしますか？" },local: true do |f|
        = render partial: "shared/form",locals:{f: f} 

= render partial: 'shared/footer'