<p id="notice"><%= notice %></p>

<h1>Postcs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Story</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postcs.each do |postc| %>
      <tr>
        <td><%= postc.title %></td>
        <td><%= postc.story %></td>
        <td><%= link_to 'Show', postc %></td>
        <td><%= link_to 'Edit', edit_postc_path(postc) %></td>
        <td><%= link_to 'Destroy', postc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Postc', new_postc_path %>
