<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @postc.title %>
</p>

<p>
  <strong>Story:</strong>
  <%= @postc.story %>
</p>

<%= link_to 'Edit', edit_postc_path(@postc) %> |
<%= link_to 'Back', postcs_path %>
